<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.romansixvigaming.snake" android:versionName="1.0" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:targetSdkVersion="29" android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-feature android:name="android.software.leanback" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<application android:label="Snake" android:icon="@drawable/Icon" android:banner="@drawable/Banner" android:isGame="true"></application>
</manifest>