<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="RomansIXVIGamingLLC.SnakeTheGame"
    Publisher="CN=1460E382-1222-42D8-AC98-5E3FAF26828C"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="535f7e51-2d8f-4ed0-96d1-882163c61be8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Snake: The Game</DisplayName>
    <PublisherDisplayName>Romans I XVI Gaming, LLC</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Snake.App">
      <uap:VisualElements
        DisplayName="Snake: The Game"
        Square150x150Logo="Assets\MediumTile.png"
        Square44x44Logo="Assets\AppIcon.png"
        Description="Play the classic that transcends generations."
        BackgroundColor="#b6e9ab">
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#b6e9ab"/>
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/>
        </uap:InitialRotationPreference>
        <uap:LockScreen BadgeLogo="Assets\LockScreenLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>